@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/* || RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* || GENERAL STYLES */
body {
  font: 1.5rem "Nunito", sans-serif;
  min-height: 100vh;

  background-color: #475569;
  background-color: radial-gradient(whitesmoke, #475569);
  display: flex;
  flex-direction: column;
}

header, nav, main, footer {
  display: grid;
  place-content: center;
  grid-template-columns: 100%;
  text-align: center;
}

