@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/* Begin Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-seriff;
    min-height: 100vh;
}
/* End Reset */

/* Utility Classes */
    .nowrap {
        white-space: nowrap;
    }

    .offscreen {
        position: absolute;
        left: -10000px;
    }
/* End Utility Classes*/

.hero {
    border-bottom: 2px solid #000;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;

    background-color: rgb(251, 210, 156);
    background: url('./img/map-2176x1451.png');
    background-repeat: no-repeat;
    background-size: cover;
}

