@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/* Begin Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-seriff;
    min-height: 100vh;
}
/* End Reset */

/* Utility Classes */
    .nowrap {
        white-space: nowrap;
    }

    .offscreen {
        position: absolute;
        left: -10000px;
    }
/* End Utility Classes*/

